<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WeatherRainBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1185},{499,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,312}}</string>
                <key>sourceSize</key>
                <string>{499,312}</string>
            </dict>
            <key>air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1185},{91,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1593},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1890,1181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1890,1181}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>base.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1185},{57,334}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,334}}</string>
                <key>sourceSize</key>
                <string>{57,338}</string>
            </dict>
            <key>chemical-fertilizer-in-air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1494},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>chemical-fertilizer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1447},{41,48}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>chrysanthemum.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1541},{120,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,195}}</string>
                <key>sourceSize</key>
                <string>{120,195}</string>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,1593},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1185},{354,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,126}}</string>
                <key>sourceSize</key>
                <string>{354,126}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1499},{261,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,92}}</string>
                <key>sourceSize</key>
                <string>{261,92}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1633},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,450},{10,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{10,6}</string>
            </dict>
            <key>forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1587},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>greenHuLuBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1273},{86,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,194}}</string>
                <key>sourceSize</key>
                <string>{86,194}</string>
            </dict>
            <key>hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1273},{246,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,219}}</string>
                <key>sourceSize</key>
                <string>{246,219}</string>
            </dict>
            <key>magnet-in-air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1447},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>magnet.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1578},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{726,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{726,478}}</string>
                <key>sourceSize</key>
                <string>{728,478}</string>
            </dict>
            <key>pause-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1628},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1587},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1593},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>popupTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1185},{306,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,86}}</string>
                <key>sourceSize</key>
                <string>{306,86}</string>
            </dict>
            <key>progress-after.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{446,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,11}}</string>
                <key>sourceSize</key>
                <string>{446,11}</string>
            </dict>
            <key>progress-before.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1185},{446,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,33}}</string>
                <key>sourceSize</key>
                <string>{446,33}</string>
            </dict>
            <key>redHuLuBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1361},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{86,184}</string>
            </dict>
            <key>route-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1499},{230,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,136}}</string>
                <key>sourceSize</key>
                <string>{230,136}</string>
            </dict>
            <key>settingBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1587},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>shovel-in-air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1494},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>shovel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1185},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>showBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1593},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>skateboard-shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1499},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>worm.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1541},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>yellowHuLuSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1499},{73,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,146}}</string>
                <key>sourceSize</key>
                <string>{73,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainGame.png</string>
            <key>size</key>
            <string>{1908,1665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d7290343fdd2869c35275206081ad43:2c6c20d721ad1f112253996bacb79d7c:9effdc64893a37702941da4b39f0cf11$</string>
            <key>textureFileName</key>
            <string>MainGame.png</string>
        </dict>
    </dict>
</plist>
