<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizzy00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,575},{189,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,255}}</string>
                <key>sourceSize</key>
                <string>{189,255}</string>
            </dict>
            <key>dizzy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,961},{201,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,237}}</string>
                <key>sourceSize</key>
                <string>{201,237}</string>
            </dict>
            <key>dizzy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,396},{177,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,263}}</string>
                <key>sourceSize</key>
                <string>{177,263}</string>
            </dict>
            <key>dizzy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,420},{189,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,230}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>dizzy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,575},{177,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,259}}</string>
                <key>sourceSize</key>
                <string>{177,259}</string>
            </dict>
            <key>dizzy05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,993},{189,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,224}}</string>
                <key>sourceSize</key>
                <string>{189,224}</string>
            </dict>
            <key>dizzy06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,217},{177,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,264}}</string>
                <key>sourceSize</key>
                <string>{177,264}</string>
            </dict>
            <key>dizzy07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{201,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,242}}</string>
                <key>sourceSize</key>
                <string>{201,242}</string>
            </dict>
            <key>dizzy08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,396},{177,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,261}}</string>
                <key>sourceSize</key>
                <string>{177,261}</string>
            </dict>
            <key>dizzy09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,427},{189,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,258}}</string>
                <key>sourceSize</key>
                <string>{189,258}</string>
            </dict>
            <key>fall00.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{251,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{251,230}}</string>
                <key>sourceSize</key>
                <string>{253,232}</string>
            </dict>
            <key>fall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,611},{201,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,240}}</string>
                <key>sourceSize</key>
                <string>{201,240}</string>
            </dict>
            <key>fall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,234},{213,251}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,251}}</string>
                <key>sourceSize</key>
                <string>{213,253}</string>
            </dict>
            <key>fall03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{213,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,253}}</string>
                <key>sourceSize</key>
                <string>{213,253}</string>
            </dict>
            <key>fall04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,842},{213,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,220}}</string>
                <key>sourceSize</key>
                <string>{213,220}</string>
            </dict>
            <key>fall05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,217},{201,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,225}}</string>
                <key>sourceSize</key>
                <string>{201,225}</string>
            </dict>
            <key>fall06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,618},{201,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,222}}</string>
                <key>sourceSize</key>
                <string>{201,222}</string>
            </dict>
            <key>fall07.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,946},{177,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,242}}</string>
                <key>sourceSize</key>
                <string>{177,242}</string>
            </dict>
            <key>fall08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,814},{177,252}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{177,252}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>fallend00.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,449},{201,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,251}}</string>
                <key>sourceSize</key>
                <string>{201,251}</string>
            </dict>
            <key>fallend01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,766},{201,245}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,245}}</string>
                <key>sourceSize</key>
                <string>{201,279}</string>
            </dict>
            <key>fallend02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,969},{199,230}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,230}}</string>
                <key>sourceSize</key>
                <string>{201,232}</string>
            </dict>
            <key>fallend03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,871},{201,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,244}}</string>
                <key>sourceSize</key>
                <string>{201,244}</string>
            </dict>
            <key>fallend04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{253,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{253,233}}</string>
                <key>sourceSize</key>
                <string>{253,235}</string>
            </dict>
            <key>jump00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,216},{253,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,209}}</string>
                <key>sourceSize</key>
                <string>{253,209}</string>
            </dict>
            <key>jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,217},{177,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,268}}</string>
                <key>sourceSize</key>
                <string>{177,268}</string>
            </dict>
            <key>jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,827},{177,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,245}}</string>
                <key>sourceSize</key>
                <string>{177,245}</string>
            </dict>
            <key>jump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,863},{177,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,243}}</string>
                <key>sourceSize</key>
                <string>{177,243}</string>
            </dict>
            <key>jump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{253,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,213}}</string>
                <key>sourceSize</key>
                <string>{253,213}</string>
            </dict>
            <key>jump05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{253,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,213}}</string>
                <key>sourceSize</key>
                <string>{253,213}</string>
            </dict>
            <key>jump06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,2},{253,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,212}}</string>
                <key>sourceSize</key>
                <string>{253,212}</string>
            </dict>
            <key>jump07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{253,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,192}}</string>
                <key>sourceSize</key>
                <string>{253,192}</string>
            </dict>
            <key>jump08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,257},{253,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,191}}</string>
                <key>sourceSize</key>
                <string>{253,191}</string>
            </dict>
            <key>jump09.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,237},{253,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,212}}</string>
                <key>sourceSize</key>
                <string>{253,212}</string>
            </dict>
            <key>jump10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,618},{253,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,207}}</string>
                <key>sourceSize</key>
                <string>{253,207}</string>
            </dict>
            <key>run00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{248,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,227}}</string>
                <key>sourceSize</key>
                <string>{248,227}</string>
            </dict>
            <key>run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,238}}</string>
                <key>sourceSize</key>
                <string>{266,238}</string>
            </dict>
            <key>run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,662},{253,207}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,207}}</string>
                <key>sourceSize</key>
                <string>{253,215}</string>
            </dict>
            <key>run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,754},{253,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,205}}</string>
                <key>sourceSize</key>
                <string>{253,205}</string>
            </dict>
            <key>run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{253,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,238}}</string>
                <key>sourceSize</key>
                <string>{253,238}</string>
            </dict>
            <key>run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{253,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,233}}</string>
                <key>sourceSize</key>
                <string>{253,233}</string>
            </dict>
            <key>run06.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,451},{253,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,209}}</string>
                <key>sourceSize</key>
                <string>{253,209}</string>
            </dict>
            <key>run07.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,652},{253,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,209}}</string>
                <key>sourceSize</key>
                <string>{253,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mouse.png</string>
            <key>size</key>
            <string>{1997,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51da4dddc6ebc8594374bdc6bd99a606:e86ffe9cfc7915c09e7ad52d772bf4ea:20d3bf1a586c44b04bfe3c9a4cda4070$</string>
            <key>textureFileName</key>
            <string>mouse.png</string>
        </dict>
    </dict>
</plist>
