<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter13.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,401},{630,369}}</string>
                <key>offset</key>
                <string>{286,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{572,486},{630,369}}</string>
                <key>sourceSize</key>
                <string>{1202,1181}</string>
            </dict>
            <key>scooter14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{631,369}}</string>
                <key>offset</key>
                <string>{303,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{607,486},{631,369}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
            <key>scooter15.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{527,397}}</string>
                <key>offset</key>
                <string>{354,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{711,458},{527,397}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{516,407}}</string>
                <key>offset</key>
                <string>{360,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{722,450},{516,407}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter4.png</string>
            <key>size</key>
            <string>{1006,1033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:844dade7af9d3743ee9a734160fef2d0:dabe4322d090af3d27e3bfce556deb4e:6a319879b85a607636345f6c39020435$</string>
            <key>textureFileName</key>
            <string>scooter4.png</string>
        </dict>
    </dict>
</plist>
