<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter37.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{563,369}}</string>
                <key>offset</key>
                <string>{364,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{733,485},{563,369}}</string>
                <key>sourceSize</key>
                <string>{1301,1181}</string>
            </dict>
            <key>scooter38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{560,359}}</string>
                <key>offset</key>
                <string>{366,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1296,1181}</string>
            </dict>
            <key>scooter39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{560,359}}</string>
                <key>offset</key>
                <string>{363,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1302,1181}</string>
            </dict>
            <key>scooter40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,369}}</string>
                <key>offset</key>
                <string>{364,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{732,485},{564,369}}</string>
                <key>sourceSize</key>
                <string>{1300,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter10.png</string>
            <key>size</key>
            <string>{1695,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b46257b8c566537be11f8ae9fde293f9:9e5f0da4624103c13db3781e18146a43:402acdd1ca3d2ba6ae3018b47fddaa31$</string>
            <key>textureFileName</key>
            <string>scooter10.png</string>
        </dict>
    </dict>
</plist>
