<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{543,381}}</string>
                <key>offset</key>
                <string>{372,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{745,473},{543,381}}</string>
                <key>sourceSize</key>
                <string>{1289,1181}</string>
            </dict>
            <key>scooter34.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{563,369}}</string>
                <key>offset</key>
                <string>{365,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{733,485},{563,369}}</string>
                <key>sourceSize</key>
                <string>{1299,1181}</string>
            </dict>
            <key>scooter35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{560,359}}</string>
                <key>offset</key>
                <string>{366,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1296,1181}</string>
            </dict>
            <key>scooter36.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,567},{561,359}}</string>
                <key>offset</key>
                <string>{363,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{733,495},{561,359}}</string>
                <key>sourceSize</key>
                <string>{1301,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter9.png</string>
            <key>size</key>
            <string>{947,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6c4db093f97bf43fe0b31ae1c4c786b:35219d77abbf2672bf7e9c7cc8bb54b1:dc451909eac7813639ed8e0b0cb7bf29$</string>
            <key>textureFileName</key>
            <string>scooter9.png</string>
        </dict>
    </dict>
</plist>
