<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter05.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,273},{776,265}}</string>
                <key>offset</key>
                <string>{231,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,594},{776,265}}</string>
                <key>sourceSize</key>
                <string>{1238,1181}</string>
            </dict>
            <key>scooter06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{840,257}}</string>
                <key>offset</key>
                <string>{197,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,598},{840,257}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
            <key>scooter07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{775,275}}</string>
                <key>offset</key>
                <string>{231,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,598},{775,275}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
            <key>scooter08.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{798,269}}</string>
                <key>offset</key>
                <string>{220,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,598},{798,269}}</string>
                <key>sourceSize</key>
                <string>{1238,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter2.png</string>
            <key>size</key>
            <string>{1628,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e2ede123f8b1cc302c804734efc5f37:aa5efa0515452768cb925513255824c7:1235bbd97cd36457080153588d4fad03$</string>
            <key>textureFileName</key>
            <string>scooter2.png</string>
        </dict>
    </dict>
</plist>
