<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{503,461}}</string>
                <key>offset</key>
                <string>{364,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{735,394},{503,461}}</string>
                <key>sourceSize</key>
                <string>{1245,1181}</string>
            </dict>
            <key>scooter22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{493,525}}</string>
                <key>offset</key>
                <string>{371,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{745,328},{493,525}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,617}}</string>
                <key>offset</key>
                <string>{366,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{735,236},{503,617}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter24.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{502,615}}</string>
                <key>offset</key>
                <string>{366,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,241},{502,615}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter6.png</string>
            <key>size</key>
            <string>{1969,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da4f75c1de11939527aa4ac379e8ffb3:e5b7f16689a2f72ae165d1d54034edfb:88d48c07c869fa29e048e97f2fffc2f9$</string>
            <key>textureFileName</key>
            <string>scooter6.png</string>
        </dict>
    </dict>
</plist>
