<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter17.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{543,407}}</string>
                <key>offset</key>
                <string>{346,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{695,446},{543,407}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter18.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{496,415}}</string>
                <key>offset</key>
                <string>{370,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{742,440},{496,415}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,415}}</string>
                <key>offset</key>
                <string>{369,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{741,440},{497,415}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter20.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{496,415}}</string>
                <key>offset</key>
                <string>{371,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{742,440},{496,415}}</string>
                <key>sourceSize</key>
                <string>{1238,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter5.png</string>
            <key>size</key>
            <string>{1544,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2fdb203f28e9081e08a6765b1e53193:d5e2fb9fd3754a00e673e6a2ff036890:7c5f39e15428aa62c089df8cb3c32361$</string>
            <key>textureFileName</key>
            <string>scooter5.png</string>
        </dict>
    </dict>
</plist>
