<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter49.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,579},{784,497}}</string>
                <key>offset</key>
                <string>{307,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{621,358},{784,497}}</string>
                <key>sourceSize</key>
                <string>{1412,1181}</string>
            </dict>
            <key>scooter50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{776,575}}</string>
                <key>offset</key>
                <string>{365,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{734,279},{776,575}}</string>
                <key>sourceSize</key>
                <string>{1514,1181}</string>
            </dict>
            <key>scooter51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{967,495}}</string>
                <key>offset</key>
                <string>{367,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{739,359},{967,495}}</string>
                <key>sourceSize</key>
                <string>{1711,1181}</string>
            </dict>
            <key>scooter52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1160,371}}</string>
                <key>offset</key>
                <string>{365,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,487},{1160,371}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter13.png</string>
            <key>size</key>
            <string>{1942,1078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30e1f6de77059174dd198b1babd1e556:57bcd6a11e736af1aa6b44c4fbe84b3b:76e7f899525ac1be262bd0ae288caf6a$</string>
            <key>textureFileName</key>
            <string>scooter13.png</string>
        </dict>
    </dict>
</plist>
