<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter41.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,363},{560,359}}</string>
                <key>offset</key>
                <string>{365,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1298,1181}</string>
            </dict>
            <key>scooter42.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{561,359}}</string>
                <key>offset</key>
                <string>{366,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{733,495},{561,359}}</string>
                <key>sourceSize</key>
                <string>{1295,1181}</string>
            </dict>
            <key>scooter43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{542,381}}</string>
                <key>offset</key>
                <string>{371,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{746,473},{542,381}}</string>
                <key>sourceSize</key>
                <string>{1292,1181}</string>
            </dict>
            <key>scooter44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,403}}</string>
                <key>offset</key>
                <string>{370,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{740,453},{528,403}}</string>
                <key>sourceSize</key>
                <string>{1268,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter11.png</string>
            <key>size</key>
            <string>{970,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b45fb2b33dacc53f1df4dd0dffebdddc:ec027b0000a1463e363b6655c18bbd62:4692cb149e1dbef8cccc4d561d4009f2$</string>
            <key>textureFileName</key>
            <string>scooter11.png</string>
        </dict>
    </dict>
</plist>
