<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,257}}</string>
                <key>offset</key>
                <string>{197,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,598},{840,257}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
            <key>scooter02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{774,275}}</string>
                <key>offset</key>
                <string>{231,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,598},{774,275}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter03.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{798,269}}</string>
                <key>offset</key>
                <string>{219,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,598},{798,269}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter04.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,273},{801,261}}</string>
                <key>offset</key>
                <string>{218,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,595},{801,261}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scooter1.png</string>
            <key>size</key>
            <string>{1644,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09921fbeed9fb198f11fa242b7d59765:97caee26f46cf2bd8cd40c7c3a565fef:2363b00da53ab8ec49c220445c2f4491$</string>
            <key>textureFileName</key>
            <string>scooter1.png</string>
        </dict>
    </dict>
</plist>
